*

{
  background-image: url("image/house-of-stairs.jpg");
  text-align: center;
  font-family: Georgia, Arial;
}



figcaption

{
  font-style: italic;
}



img

{
 box-shadow: 10px 10px 20px black;

}
